streamlit
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt



segno
pillow



librosa
https://download.pytorch.org/whl/cpu/torch-2.2.0+cpu-cp312-cp312-linux_x86_64.whl; sys_platform == 'linux'
torch; sys_platform != 'linux'
resemblyzer
Flask
gunicorn